@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
    font-size: 62.5%;
}
body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    padding-bottom: 8rem;
}
main{
    display: flex;  
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0 0;      
}
.container {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2.5rem 5rem -1.2rem;
    background-color: #232222;
    margin: 0 auto;
}
.container,#text,p,#campeao,#results,#btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 96rem;
    padding: 2rem 0; 
    border-radius: 1rem;
    
}
#btn{
    margin-top: 2rem;
    padding: 0.3rem;
    max-width: 10rem;
    
}
#text{
    outline: none;
    resize: none;
}
#title{
    padding: 2rem;
    color: aliceblue;
    margin-bottom: 1rem;
}
#text,#results{
    padding: 2rem;
    
}
#results,#campeao{
    color: aliceblue;
    font-size: 1.6rem;
}